@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html{
   font-family: 'Poppins', sans-serif;
   font-size: 16px;

}
body{
   max-width: 1400px;
   margin: auto;
}



/* =========================================================
GREAT SHOW
============================================================= */


.great-show{
   display: flex;
   justify-content: center;
   gap:80px;
   background-color: rgb(70, 16, 70);
   margin-top: 50px;
   border-radius: 30px;

}

.great-show-details{
   width: 30%;
   color:white;
   
}
.great-show-title{
   font-size: 4rem;
   font-weight: 700;
   line-height: 5rem;
   padding-top: 60px;
}
.great-show-details a{
   text-decoration: none;
   color: white;
   padding: 15px 25px;
   background-color: darkred;
   line-height: 5rem;

}
.great-show-img img{
   Width:600px;
   Height:631px;
   margin-top:29px;
}
.watch-live-icon{
   padding-left: 10px;;
}


/* =========================================================
BLOG START
=========================================================== */

.form{
   background-color: rgb(70, 16, 70);
   height: 312px;
   width: 312px;
   padding: 30px;
   text-align: center;
   border-radius: 10px;
   
   
}
.form1, .form2{
   background-color: white;
   padding: 30px;
   border-radius: 10px;
}
.form3{
   background-color: darkred;
   padding: 30px;
   color: white;
   border-radius: 10px;
}

.blogs{
   /* display: grid;
   grid-template-columns: repeat(2, 1fr); */
   display: flex;
   margin-top: 160px;
   gap: 25px;
}

.blog{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 24px;
   line-height: 2rem;
 
}
.blog-section{
   width: 312px;
   height: 362px;
 
}


.blog-section button{
   padding:4px 16px;
   border-radius: 5px;

}
.blog-foot{
   color:gray;
   display: flex;
   gap:20px
}
.blog-foot-details{
   display: flex;
   width: 60px;
   height: 26px;
   align-items: center;
   gap:10px;


}






/* ===============================================================Footer Start
=========================================================== */


.footer{
   text-align: center;
   background-color: black;
}

.footer-goal{
   margin-top: 130px;
   padding-top: 130px;
   color: white;
   font-size: 2.5rem;
}
hr{
   margin: 30px 0;
}
.footer-anchor a{
   text-decoration: none;
   color: white;
   margin-left: 20px;

   
}
.footer-contact{
   margin-top: 30px;
}
.footer-contact a{
   color: white;
   margin-left: 20px;
   font-size: 3rem;

}