@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html{
   font-family: 'Poppins', sans-serif;
}
.Holder-of-everything{
   display: flex;
   flex-direction: column;
   align-items: center;


}
.great-show{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   background-color: rgb(70, 16, 70);
   color: white;
   margin-top: 25px;
   margin-bottom: 60px;
   border-radius: 30px;

}
.container{
   width: 1400px;
}

.great-show-info{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding:111px;
   width: 60%;   
}
.great-show img{
   width: 90%;
   height: 95%;
   margin-top: 29px;
   animation: zoomin 1s linear 1;
   animation-delay: 1s;
   visibility: hidden;
   animation-fill-mode: forwards;

}

@keyframes zoomin {
   0%{
      transform: scale(.5);
      visibility: visible;
   }
   100%{
      transform: scale(1);
      visibility: visible;
   }
   
}


.great-show h1{
   font-size: 350%;
   line-height: 4rem;
   margin: 0;
   animation: movedown 1s linear 1;
   animation-delay: 4s;
   visibility: hidden;
   animation-fill-mode: forwards;
 
}
.great-show p{
   animation: movedown 1s linear 1;
   animation-delay: 3s;
   visibility: hidden;
   animation-fill-mode: forwards;
}
@keyframes movedown {
   0%{
      transform: translateY(-100px);
      visibility: visible;
   }
   100%{
      transform: translateY(0);
      visibility: visible;
   }
   
}
.great-show button{
   padding: 1rem 1.5rem;
   border-radius: 5px;
   background-color: darkred;
   color: white;
   border: 0;
   margin: 2rem 0;
   cursor: pointer;
   animation: movedown 1s linear 1;
   animation-delay: 2s;
   visibility: hidden;
   animation-fill-mode: forwards;

}


.fa-greater-than{
   padding-left:.8rem ;
} 


/* =========================================================
BLOG START
=========================================================== */

.form{
   background-color: rgb(70, 16, 70);
   height: 312px;
   width: 425px;
   padding: 30px;
   text-align: center;
   border-radius: 10px;
   
   
}
.form a{
   text-decoration: none;
}
.form-color1, .form-color2{
   color: black;
}
.form-color3{
   color:white;
}
.form1, .form2{
   background-color: white;
   padding: 30px;
   border-radius: 10px;
   color:black
}
.form3{
   background-color: darkred;
   padding: 30px;
   border-radius: 10px;
}

.blogs{
   display: flex;
   margin-top: 160px;
   gap: 25px;
}

.blog{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 24px;
   line-height: 2rem;
 
}
.blog-section{
   width: 312px;
   height: 362px;
   padding: 10px;
   margin: 2%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 
}


.blog-section button{
   padding:4px 16px;
   border-radius: 5px;

}
.blog-foot{
   color:gray;
   display: flex;
   gap:20px
}
.blog-foot-details{
   display: flex;
   width: 60px;
   height: 26px;
   align-items: center;
   gap:10px;


}

.view{
   display: none;
}

/* =======================================================================
Team STart
================================================================ */

.team-form{
   background-color: rgb(70, 16, 70);
   height: 312px;
   width: 425px;
   padding: 30px;
   text-align: center;
   border-radius: 10px;
}

.team-form a{
   text-decoration: none;

}
.team-color3, .team-color2{
   color: black;
}
.team-color1{
   color: white;

}
.team-form2, .team-form3{
   background-color: white;
   padding: 30px;
   border-radius: 10px;
   color:black
}

.team-form1{
   background-color: darkred;
   padding: 30px;
   border-radius: 10px;
}


.team{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-items: center;


}

.team-blogs{
   display: flex;
   margin-top: 160px;
   gap: 50px;
}

.team-blog{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 30px;
   row-gap: 30px;
   line-height: 2rem;
}
.main-team{
   width: 312px;
   height: 200px;
   padding: 10px;
   margin: 2%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.team-info{
   position: relative;
   top:-10px;
   left:10px;
   text-align: center;
}


/* ===============================================================
Footer Start
=========================================================== */


.footer{
   text-align: center;
   background-color: black;
}

.footer-goal{
   margin-top: 130px;
   padding-top: 130px;
   color: white;
   font-size: 2.5rem;
}
hr{
   margin: 30px 15%;
   border:1px solid gray;
}
.footer-anchor a{
   text-decoration: none;
   color: white;
   margin-left: 20px;

   
}
.footer-contact{
   margin-top: 30px;
}
.footer-contact a{
   color: white;
   margin-left: 20px;
   font-size: 3rem;

}



/* =========================================================
MEDIA QUERY START
=========================================================== */

@media only screen and (max-width:688px) {
   .container{
      width: 100%;
   }
   .great-show{
      grid-template-columns: repeat(1,1fr);
      justify-items: center;
      align-items: center;
   }

   .blogs{
      flex-direction: column;
      align-items: center;


   }
   .form{
      background-color: white;
      width: 80%;
   
   }
   .form1, .form2, .form3{
      border: 1px solid lightgray;
      
   }
   .blog{
      grid-template-columns: repeat(1,1fr);
      justify-items: center;
   }

   .footer-anchor a{
      display: block;
      line-height: 40px;
   }
}



@media only screen and (min-width:689px) and (max-width:1025px) {
   .body{
      width: 100%;
   }
   
   .container{
      width: 100%;
   }
   .blogs{
      flex-direction: column


   }
   .form{
      background-color: white;
      display: flex;
      gap:20px;
      text-align: center;
   
   
   }
   .form1, .form2, .form3{
      border: 1px solid lightgray;
      height: 80px;
      padding:20px 100px;
      text-align: center;
  
   

   }
   .blog{
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
      position: relative;
      top:-200px
   }
   .view{
      display:block;
      text-align: center;
      padding: 20px;
      border: 2px solid;
      width: 200px;
   }

   .footer-anchor a{
      padding-left: 5%;
      line-height: 40px;
   }


}